// MARGIN & PADDING
  // margin
.m-l   {margin: 38.08px;}
.m-m   {margin: 23.99px;}
.m-s   {margin: 14.50px;}
.m-xs  {margin: 8.94px;}

  // horizontal margin
.mh-l   {margin: 0 38.08px;}
.mh-m   {margin: 0 23.99px;}
.mh-s   {margin: 0 14.50px;}
.mh-xs  {margin: 0 8.94px;}

  // vertical margin
.mv-l   {margin: 38.08px 0;}
.mv-m   {margin: 23.99px 0;}
.mv-s   {margin: 14.50px 0;}
.mv-xs  {margin: 8.94px 0;}

  // padding
.p-l   {padding: 38.08px;}
.p-m   {padding: 23.99px;}
.p-s   {padding: 14.50px;}
.p-xs  {padding: 8.94px;}

  // horizontal padding
.ph-l   {padding: 0 38.08px;}
.ph-m   {padding: 0 23.99px;}
.ph-s   {padding: 0 14.50px;}
.ph-xs  {padding: 0 8.94px;}

  // vertical padding
.pv-l   {padding: 38.08px 0;}
.pv-m   {padding: 23.99px 0;}
.pv-s   {padding: 14.50px 0;}
.pv-xs  {padding: 8.94px 0;}
