// WIDTH & HEIGHT
  // width
.wauto {width: auto;}
.w-xxl {width: 100%;}
.w-xl  {width: 61.71%;}
.w-l   {width: 38.08%;}
.w-m   {width: 23.99%;}
.w-s   {width: 14.501%;}
.w-xs  {width: 8.948%;}

  // height
.hauto {height: auto;}
.h-xxl {height: 100%;}
.h-xl  {height: 61.71%;}
.h-l   {height: 38.08%;}
.h-m   {height: 23.99%;}
.h-s   {height: 14.501%;}
.h-xs  {height: 8.948%;}
